#{{ ansible_managed }}

{% if curator_actions|length >= 1 %}
actions:
  {% for item in curator_actions %}

  {{ loop.index }} :
        action: delete_indices
        description: >-
          {{ item.description }}
        options:
          ignore_empty_list: True
          timeout_override:
          continue_if_exception: False
          disable_action: {{ item.disable|default(True) }}
        filters:
        {% if curator_excluded_index|length >=1 %}
          {% for it in curator_excluded_index%}

          - filtertype: pattern
            kind: prefix
            value: {{ it.index_name }}
            exclude: {{ it.exclude }}
          {% endfor %}
        {% endif %}
        {% if item.delete_by == 'age' %}

          - filtertype: age
            source: name
            direction: older
            timestring: '%Y-%m-%d'
            unit: days
            unit_count: {{ item.deleted_days|default(7) }}
            field:
            stats_result:
            epoch:
            exclude: False
        {% elif item.delete_by == 'size' %}

          - filtertype: space
            disk_space: {{ item.deleted_size|float/1000 }}
            reverse: True
            use_age: False
            source: creation_date
            timestring:
            field:
            stats_result:
            exclude: False
        {% endif %}
  {% endfor %}
{% endif %}
